.vscode
**/Drivers/**
**/managed_components/**
.codemap
**/MDK-ARM/DebugConfig/**
**/MDK-ARM/RTE/**
**/obj/**
**/RET/**
**/Listings/**
**/Objects/**
*.map
*.o
*.d
*.htm
*.dep
*.lnp
*.iex
*.lst
*.axf
*.crf
*.hex
*.Bak
*.uvguix.*
*.scvd
*.usb.tmp
*.i
build
projects/bl616/build
.DS_Store
.idea